.DS_Store
*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

*.xccheckout
*.xcuserdatad

*.ipa
*.hmap
*.xcuserstate

*.xcodeproj/xcuserdata/*.xcuserdatad

# Exclude personal Xcode user settings
xcuserdata/